.section-board__todo-card {
    padding: 1em;
    background-color: white;
    display: grid;
    grid-template-columns: 30px 1fr;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
    width: 260px;
    margin: 0 0 10px;
}

.todo_details {
    display: grid;
    grid-template-columns: 1fr auto;
}

.todo_details_menu {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5em;
}

.more-details-button {
    display: flex;
    align-items: center;
    border: none;
    padding: .125rem .5rem;
    border-radius: 1rem;
    background-color: #fff;
}

.more-details-button:hover {
    background-color: #ebebeb;
}

.todo_details_contents {
    display: grid;
    gap: .5rem;
}

.todo_description {
    font-size: 0.8rem;
    color: #bdbdbd;
}

.due_date {
    font-size: 0.9rem;
    color: #ffb057;
}

.priority-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}

.edit_button {
    display: flex;
    align-items: center;
    border: none;
    padding: .5rem .5rem;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.edit_button:hover {
    background-color: #ebebeb;
}

.edit_button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.priority-checkbox.p4 {
    border: 1px solid #000;
    background-color: white;
}

.priority-checkbox.p3 {
    /* border: 1px solid #2e8538;
    background-color: #9ad479; */
    border: 1px solid #0095ff;
    background-color: #00d0ff;
}

.priority-checkbox.p2 {
    border: 1px solid #f7a736;
    background-color: #ffe28c;
}

.priority-checkbox.p1 {
    border: 1px solid red;
    background-color: #ff8c8c;
}