.sing-up-with-google,
.sing-in-with-google,
.continue-with-google {
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    box-shadow: 2px 2px .2rem #d3d3d3;
}

.sing-up-with-google::after,
.sing-in-with-google::after,
.continue-with-google::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sing-up-with-google>img,
.sing-in-with-google>img,
.continue-with-google>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}