.board-view__content {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - (44px + 56px));
    padding: 0px 55px 10px;
    flex-direction: column;
    width: 100%;
}

.add-task-button {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    width: max-content;
}

.add-task-button:hover {
    opacity: .5;
}

.section-board {
    background-color: #fff;
}

.section-board__view-header {
    background-color: #fff;
    padding: 1rem 0;
}

.section-board.view {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 280px;
    max-height: 100%;
    padding: 0;
    margin-right: 10px;
}

.section-board.add-button {
    width: 280px;
    background-color: #fff;
}

.section-board__cards {
    background-color: #fff;
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.section-board__footer {
    min-height: 44px;
    background-color: #fff;
    display: flex;
    flex: 0 0 auto;
    z-index: 1;
}

.cardsOverflow .section-board__footer {
    border-top: 1px solid rgba(0, 0, 0, .12);
}