.google-auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.google-auth-page.hide {
    display: none;
}

.google-auth-wrapper {
    border-radius: 1rem;
    box-shadow: 0 0 .5rem #bdbdbd;
    background-color: white;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    width: clamp(300px, 50vw, 350px);
}

.auth_page_title {
    text-align: center;
    font-size: 1.5rem;
}