.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(167, 228, 159);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
    height: 44px;
    background-image: url('https://images.unsplash.com/photo-1629196914168-3a2652305f9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFic3RyYWN0JTIwYXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    background-position: center;
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.left-buttons>*,
.right-buttons>* {
    cursor: pointer;
}

.profile-image-container {
    /* background-color: rgb(0, 213, 255); */
    background-color: #ffec9e;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}