.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* background-color: rgb(166, 178, 242); */
    background-color: rgb(0, 234, 255);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
    height: 44px;
    background-image: url('../../img/blue.jpg');
    background-size: cover;
    background-position: center;
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.left-buttons>*,
.right-buttons>* {
    cursor: pointer;
}

.profile-image-container {
    /* background-color: rgb(255, 166, 0); */
    background-color: #ffec9e;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button {
    background-color: rgba(237, 237, 237, 0.5);
    padding: 5px 10px;
    border-radius: 1rem;
    font-size: .875rem;
    font-weight: 500;
}

.profile-image-container {
    cursor: auto;
}